*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container {
    width: 300px;
    height: 500px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 5px;
}

.date-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
    color: rgb(100, 10, 10);
}

.notes-wrapper {
    height: 400px;
    border-bottom: 1px solid black;
    overflow: auto;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    border-bottom: 1px solid black;
    
}

.note-info {
    display: flex;
    align-items: center;
}

.note-check {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.note-text {
    width: 200px;
    max-height: 150px;
    line-height: 1.2rem;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 1rem;
}

.note_del-btn {
    width: 35px;
    height: 35px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: 45px;
}

.footer-text {
    width: 200px;
    height: 40px;
    padding-left: 5px;
} 

.add_note-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.hidden {
    display: none;    
}

